@model MaturskiIspitDodajVM
@{
    ViewData["Title"] = "Dodaj";
}

<h2>Dodaj</h2>


<form asp-action="Snimi" method="post">

    <div class="form-group">
        <label asp-for="Skola"></label>
        <input asp-for="Skola" value="@Model.Skola" type="text" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Odjeljenja"></label>
        <select asp-for="OdjeljenjeID" asp-items="@Model.Odjeljenja" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="Ispitivac"></label>
        <input asp-for="Ispitivac" value="@Model.Ispitivac" type="text" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Skolaskgodina"></label>
        <input asp-for="Skolaskgodina" value="@Model.Skolaskgodina" type="text" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="DatumIspita"></label>
        <input asp-for="DatumIspita" type="date" class="form-control" />
        <span asp-validation-for="DatumIspita" class="text-danger"></span>
    </div>
    

    <div class="form-group">
        <label asp-for="Predmeti"></label>
        <select asp-for="PredmetID" asp-items="@Model.Predmeti" class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-danger">Snimi</button>

</form>
